<div ng-controller="CoolThingsCtrl">
<h3>The cool things you have installed are:</h3>
<ul ng-repeat="coolThing in coolThings">
  <li>{{coolThing.name}}, written in {{coolThing.language}}</li>
</ul>
</div>